In [19]:
#Answer 1 Sorting in Ascending Order
from functools import reduce
l = [("Sachin Tendulkar",34357),
     ("Ricky Ponting",27483),("Jack Kallis",25534),
    ("Virat Kholi",24936)]
l1 = sorted(l,key = lambda x:x[1],reverse = False)
l1

[('Virat Kholi', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [21]:
#Answer 2 Lambda function to Square all the numbers in the List
l = [1,2,3,4,5,6,7,8,9,10]
b = list(map(lambda x:x**2,l))
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#Answer 3 WAP to convert List of integers into Tuple of strings.
m = [1,2,3,4,5,6,7,8,9,10]
b = tuple (map(lambda x:str(x),m))
b

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [31]:
#Answer 4 WAP to compute the product of a list containing elements from 1 to 25
r = [i for i in range(1,26)]
b = reduce(lambda x,y: x*y, r)
b

15511210043330985984000000

In [32]:
#Answer 5 WAP to Filter the numbers in the List which are divisible by 2 and 3
f = [2,3,6,9,27,60,90,120,55,46]
b = list(filter(lambda x : x%2==0 and x%3==0,f))
b

[6, 60, 90, 120]

In [33]:
#Answer 6 WAP to Find Palindrome Strings int the given List using a Lambda Function
s = ["python","php","radar","level"]
b = list(filter(lambda x:x == x[::-1],s))
b

['php', 'radar', 'level']